<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
      <div ng-controller="CountriesController as couCtrl">
<!--          Country's table      -->
        <table class="country-table">
            <tr>
                <th>Country</th>
                <th>Description</th>
            </tr>
            <tr ng-repeat="country in couCtrl.countries">
              <td class="title"><a href='' class="country-title" ng-click="couCtrl.showCities(country.id)">{{country.title}}</a></td>
              <td class="text"> {{country.text}}</td>
            </tr>
        </table>
        <table class="city-table" ng-show="couCtrl.cityTableVis">
            <tr>
                <th>City</th>
                <th>Description</th>
                <th>Delete</th>
            </tr>
            <tr ng-repeat="city in couCtrl.cities">
              <td class="title" class="city-title" ng-show="city.vis">{{city.title}}</td>
              <td class="text" ng-show="city.vis"><textarea class="ta-edit-ci"> {{city.desc}}</textarea></td>
              <td ng-show="city.vis"><button class="rem-submit" ng-click="couCtrl.remCity(city)">Del City</button></td>
            </tr>
        </table>
        <form class="form-add" name="addNewCity" ng-submit="couCtrl.addCity(ci, cou.title)" novalidate>
            <blockquote>
                <b>Country Id:</b> {{cou.title}}<br/>
                <b>City:</b> {{ci.title}}<br/>
                <b>Description:</b> {{ci.desc}}<br/>
            </blockquote>
            <select class="sel-cou" ng-model="cou.title" required>
                <option ng-repeat="country in couCtrl.countries" value="{{country.id}}">{{country.title}}</option>
            </select></br>
            <input class="inp-add-ci" type="edit" ng-model="ci.title" name="addCityTitle" required></br>
            <textarea class="ta-add-ci" value="City Description" ng-model="ci.desc" name="addCityDesc"></textarea></br>
            <input type="hidden" ng-model="cou.title">
            <input type="submit" class="add-submit" value="Add City">
        </form>
      </div>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="angular-resource.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>
