
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.country-table, .city-table {
    width:100%;
    padding:15px;
    display:inline-block;
    border-bottom:1px solid #1a1a1a;
    transition:all linear 0.15s;
    /* Type */
    font-size:1.200em;
    color:#1f1f1f;
}

.add-submit {
    border-radius:5px;
    background:purple;
    float: right;
    color: white;
    margin: 10px;
    width: 100px;
    height: 30px;
}

.rem-submit {
    border-radius:5px;
    background:purple;
    float: right;
    color: white;
    margin: 10px;
    width: 100px;
    height: 30px;
}


.form-add {
  border: 2px solid #cccccc;
  border-radius:5px;
    width: 30%;
}

.sel-cou {
  width: 90%;
  font-size:1.100em;
  margin: 10px;
  border: 2px solid #cccccc;
  border-radius:5px;

}

.inp-add-ci {
  width: 90%;
  font-size:1.200em;
  margin: 10px;
  border: 2px solid #cccccc;
  border-radius:5px;
}

.ta-add-ci {
  width: 90%;
  height: 50px;
  border: 2px solid #cccccc;
  padding: 5px;
  margin: 10px;
  font-size:1.200em;
  border-radius:5px;
}
.ta-edit-ci {
  width: 90%;
  height: 50px;
  border: 2px solid #cccccc;
  padding: 1px;
  margin: 2px;
  font-size:1.200em;
  border-radius:5px;
}

